<!DOCTYPE html>
<div th:fragment="products" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/products"></div>
</div>

<div th:fragment="categories" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/categories"></div>
</div>


<div th:fragment="login" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/login"></div>
</div>


<div th:fragment="addCategory" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/addCategoryForm"></div>
</div>

<div th:fragment="addProduct" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/addProductForm"></div>
</div>

<div th:fragment="productDisplay" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/productDisplay"></div>
</div>

<div th:fragment="addDeliveryInfo" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/addDeliveryInfoForm"></div>
</div>

<div th:fragment="addInvoice" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/addInvoiceForm"></div>
</div>

<div th:fragment="registration" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/registration"></div>
</div>

<div th:fragment="updateUserProfile" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/updateUserProfile"></div>
</div>

<div th:fragment="contact" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/contact"></div>
</div>

<div th:fragment="accessDenied" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/accessDenied"></div>
</div>

<div th:fragment="admin" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/admin"></div>
</div>

<div th:fragment="user" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/user"></div>
</div>

<div th:fragment="sendMail" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/sendMail"></div>
</div>

<div th:fragment="changePassword" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/changePassword"></div>
</div>

<div th:fragment="addStorePicture" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/addStorePicture"></div>
</div>

<div th:fragment="home" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/home"></div>
</div>

<div th:fragment="aboutUs" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/aboutUs"></div>
</div>

<div th:fragment="usernameAlreadyExists" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/usernameAlreadyExists"></div>
</div>