<!DOCTYPE html>

<div th:action="@{/admin}"
     method="POST"
     xmlns:th="http://www.thymeleaf.org">

    <a href="/admin/category"><button type="button" class="btn btn-success">Add category</button></a>
    <a href="/admin/product"><button type="button" class="btn btn-success">Add product</button></a>
    <a href="/admin/sendMail"><button type="button" class="btn btn-success">Send e-mail</button></a>
    <a href="/admin/addStorePicture"><button type="button" class="btn btn-success">Add store pictures</button></a>
</div>