<!DOCTYPE html>

<form class="container"
      th:action="@{/user/changePassword/{userId}(userId=${user.id})}"
      method="POST"
      xmlns:th="http://www.thymeleaf.org"
      style="padding-left: 300px; padding-right: 350px;">

    <div class="form-group">
        <label for="password">New password:</label>
        <input type="password" class="form-control" id="password" name="newPassword"> </input>
    </div>
    <!--<button th:value="${user.id}" name="id" class="btn btn-warning">-->

    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
        Update
    </button>


    <!-- Trigger the modal with a button -->
    <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm password</h4>
                </div>
                <div class="modal-body">
                    <p>Please enter your current password to confirm changes:</p>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword"> </input>
                </div>
                <div class="modal-footer">
                    <!--<button th:value="${user.id}" name="id" class="btn btn-warning" type="button" class="btn btn-default" data-dismiss="modal">Зачувај</button>-->
                    <button th:value="${user.id}" name="id" class="btn btn-success">Confirm</button>
                </div>
            </div>

        </div>
    </div>

</form>

