<!DOCTYPE html>


<!--<form method="POST" xmlns:th="http://www.thymeleaf.org" th:action="@{/registration}">
        <input class="form-control" type="text" id="username" name="username" placeholder="Username"> </input>
        <input class = "form-control" type="email" id="email" name="email" placeholder="E-mail"> </input>
        <input class="form-control" type="password" id="password" name="password" placeholder="Password"> </input>
        <input type="submit" class="btn btn-default">Submit</input>
</form>-->


<form class="container well" style="width: 40%; margin-top: 5em" th:action="@{/registration}"
      method="POST"
      xmlns:th="http://www.thymeleaf.org">
        <fieldset class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" name="username" id="username"> </input>
        </fieldset>
        <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" id="password"> </input>
        </div>
        <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="text" class="form-control" name="email" id="email"> </input>
        </div>

        <fieldset class="form-group">
                <label for="firstName">Name: </label>
                <input type="text" class="form-control" name="firstName" id="firstName"> </input>
        </fieldset>
        <div class="form-group">
                <label for="lastName">Last name: </label>
                <input type="text" class="form-control" name="lastName" id="lastName"> </input>
        </div>
        <div class="form-group">
                <label for="phone">Phone: </label>
                <input type="text" class="form-control" name="phone" id="phone"> </input>
        </div>
        <div class="form-group">
                <label for="country">Country: </label>
                <input type="text" class="form-control" name="country" id="country"> </input>
        </div>

        <div class="form-group">
                <label for="city">City: </label>
                <input type="text" class="form-control" name="city" id="city"> </input>
        </div>

        <div class="form-group">
                <label for="postalCode">Zip code:</label>
                <input type="text" class="form-control" id="postalCode" name="postalCode"> </input>
        </div>
        <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" class="form-control" id="address" name="address"> </input>
        </div>

        <h4 th:if="${exception!=null}" class="panel panel-danger" th:text="Username already exists"></h4>


        <button name="id" class="btn btn-success btn-lg">Confirm</button>

</form>

<!--
<div xmlns:th="http://www.thymeleaf.org">

<h1 th:text="#{label.form.title}">form</h1>
<form action="/" th:object="${user}" method="POST" enctype="utf8">
        <div>
            <label th:text="#{label.user.firstName}">first</label>
            <input th:field="*{firstName}"/>
            <p th:each="error: ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
        </div>
        <div>
            <label th:text="#{label.user.lastName}">last</label>
            <input th:field="*{lastName}"/>
            <p th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Validation error</p>
        </div>
        <div>
            <label th:text="#{label.user.email}">email</label>
            <input type="email" th:field="*{email}"/>
            <p th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>
        </div>
        <div>
            <label th:text="#{label.user.password}">password</label>
            <input type="password" th:field="*{password}"/>
            <p th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>
        </div>
        <div>
            <label th:text="#{label.user.confirmPass}">confirm</label>
            <input type="password" th:field="*{matchingPassword}"/>
        </div>
        <button type="submit" th:text="#{label.form.submit}">submit</button>
</form>
 
<a th:href="@{/login.html}" th:text="#{label.form.loginLink}">login</a>
</div>-->
